/* Cores por status */
.status-success {
  color: #2e7d32; /* verde */
}
.status-fail {
  color: #c62828; /* vermelho */
}
.status-pending {
  color: #f9a825; /* amarelo */
}

mat-icon[inline] {
  vertical-align: middle;
  margin-right: 4px;
}
.container{
  max-width: 1200px;
  margin: 0 auto;

}
